{% extends 'main.html' %}
{% load static %}
{% block content %}

<script>
    function validateForm() {
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("confirm_password").value;
        if (password !== confirmPassword) {
            alert("Passwords do not match.");
            return false;
        }
        return true;
    }
</script>
       
        <div class="no-bottom no-top" id="content">
            <div id="top"></div>
            
            <!-- section begin -->
            <section id="subheader" class="jarallax text-light">
                <img src="{% static 'images/background/subheader.jpg' %}" class="jarallax-img" alt="">
                    <div class="center-y relative text-center">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 text-center">
									<h1>Register</h1>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
            </section>
            <!-- section close -->
            

            <section aria-label="section">
                <div class="container">
					<div class="row">
						<div class="col-md-8 offset-md-3">
							
							<div class="spacer-10"></div>
							

                            <div class="de-flex-col" style="display: flex; ">
                                <div class="menu_side_area">
                                    <a href="{% url 'registerUser' 'buyer' %}" class="btn-main">Register as a Buyer</a>
                                    <span id="menu-btn"></span>
                                </div>
                                
                               
                                    <div class="menu_side_area">
                                        <a href="{% url 'registerUser' 'seller' %}" class="btn-main">Register as a Seller</a>
                                        <span id="menu-btn"></span>
                                    </div>
                               
                            
							
						</div>
                    </div>
				</div>
            </section>
			
			
        </div>
        {% endblock content %}