{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <title>SaleSawari</title>
    <link rel="icon" href="{% static 'images/icon.png' %}" type="image/gif" sizes="16x16">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Rentaly - Multipurpose Vehicle Car Rental Website Template" name="description">
    <meta content="" name="keywords">
    <meta content="" name="author">
    <!-- CSS Files
    ================================================== -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" id="bootstrap">
    <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet" type="text/css" id="mdb">
    <link href="{% static 'css/plugins.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/coloring.css' %}" rel="stylesheet" type="text/css">
    <!-- color scheme -->
    <link id="colors" href="{% static 'css/colors/scheme-01.css' %}" rel="stylesheet" type="text/css">
</head>
</head>
<body onload="initialize()" class="dark-scheme">
    {% comment %} {% if messages %}
    <ul class="messges">
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
    </ul>
    {% endif %} {% endcomment %}
    <header class="transparent has-topbar">
        <div id="topbar" class="topbar-dark text-light">
            <div class="container">
                <div class="topbar-left xs-hide">
                    <div class="topbar-widget">
                        <div class="topbar-widget"><a href="#"><i class="fa fa-phone"></i>+208 333 9296</a></div>
                        <div class="topbar-widget"><a href="#"><i class="fa fa-envelope"></i>contact@rentaly.com</a></div>
                        <div class="topbar-widget"><a href="#"><i class="fa fa-clock-o"></i>Mon - Fri 08.00 - 18.00</a></div>
                    </div>
                </div>
            
                <div class="topbar-right">
                    <div class="social-icons">
                        <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                        <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                        <a href="#"><i class="fa fa-youtube fa-lg"></i></a>
                        <a href="#"><i class="fa fa-pinterest fa-lg"></i></a>
                        <a href="#"><i class="fa fa-instagram fa-lg"></i></a>
                    </div>
                </div>  
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="de-flex sm-pt10">
                        <div class="de-flex-col">
                            <div class="de-flex-col">
                                <!-- logo begin -->
                                <div id="logo">
                                    <a href="{% url 'home' %}">
                                        <img class="logo-1" src="{% static 'images/logo-light.png' %}" alt="">
                                        <img class="logo-2" src="{% static 'images/logo-light.png' %}" alt="">
                                    </a>
                                </div>
                                <!-- logo close -->
                            </div>
                        </div>
                        <div class="de-flex-col header-col-mid">
                            <ul id="mainmenu">
                                <li><a class="menu-item" href="{% url 'home' %}">Home</a>
                                </li>
                                <li><a class="menu-item" href="cars.html">About us</a>
                                </li>
                                <li><a class="menu-item" href="{% url 'contact' %}">Contact</a></li>
                                <li><a class="menu-item" href="account-dashboard.html">My Account</a>
                                    <ul>
                                        <li><a class="menu-item" href="account-dashboard.html">Dashboard</a></li>
                                        <li><a class="menu-item" href="account-profile.html">My Profile</a></li>
                                        <li><a class="menu-item" href="account-booking.html">My Orders</a></li>
                                        <li><a class="menu-item" href="account-favorite.html">My Favorite Cars</a></li>
                                    </ul>
                                </li>
                                <li><a class="menu-item" href="#">Pages</a>
                                    <ul>
                                        <li><a class="menu-item" href="about.html">About Us</a></li>
                                        <li><a class="menu-item" href="{% url 'contact' %}">Contact</a></li>
                                        <li><a class="menu-item" href="login.html">Login</a></li>
                                        <li><a class="menu-item" href="register.html">Register</a></li>
                                        <li><a class="menu-item" href="404.html">Page 404</a></li>
                                    </ul>
                                </li>
                                <li><a class="menu-item" href="#">News</a>
                                    <ul>
                                        <li><a class="menu-item" href="news-standart-right-sidebar.html">News Standard</a>
                                            <ul>
                                                <li><a class="menu-item" href="news-standart-right-sidebar.html">Right Sidebar</a></li>
                                                <li><a class="menu-item" href="news-standart-left-sidebar.html">Left Sidebar</a></li>
                                                <li><a class="menu-item" href="news-standart-no-sidebar.html">No Sidebar</a></li>
                                            </ul>
                                        </li>
                                        <li><a class="menu-item" href="news-grid-right-sidebar.html">News Grid</a>
                                            <ul>
                                                <li><a class="menu-item" href="news-grid-right-sidebar.html">Right Sidebar</a></li>
                                                <li><a class="menu-item" href="news-grid-left-sidebar.html">Left Sidebar</a></li>
                                                <li><a class="menu-item" href="news-grid-no-sidebar.html">No Sidebar</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a class="menu-item" href="#">Elements</a>
                                    <ul>
                                        <li><a class="menu-item" href="preloader.html">Preloader</a></li>
                                        <li><a class="menu-item" href="icon-boxes.html">Icon Boxes</a></li>
                                        <li><a class="menu-item" href="badge.html">Badge</a></li>
                                        <li><a class="menu-item" href="counters.html">Counters</a></li>
                                        <li><a class="menu-item" href="gallery-popup.html">Gallery Popup</a></li>
                                        <li><a class="menu-item" href="icons-elegant.html">Icons Elegant</a></li>
                                        <li><a class="menu-item" href="icons-etline.html">Icons Etline</a></li>
                                        <li><a class="menu-item" href="icons-font-awesome.html">Icons Font Awesome</a></li>
                                        <li><a class="menu-item" href="map.html">Map</a></li>
                                        <li><a class="menu-item" href="modal.html">Modal</a></li>
                                        <li><a class="menu-item" href="popover.html">Popover</a></li>
                                        <li><a class="menu-item" href="tabs.html">Tabs</a></li>
                                        <li><a class="menu-item" href="tooltips.html">Tooltips</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="de-flex-col">
                            <div class="menu_side_area">
                                <a href="login.html" class="btn-main">Sign In</a>
                                <span id="menu-btn"></span>
                            </div>
                            <div class="de-flex-col">
                                <div class="menu_side_area">
                                    <a href="login.html" class="btn-main">Sign Up</a>
                                    <span id="menu-btn"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- page preloader begin -->
    <div id="de-preloader"></div>
    <!-- page preloader close -->
    
    {%block content %}

    {% endblock %}

    <a href="#" id="back-to-top"></a>
    <!-- footer begin -->
    <footer class="text-light">
        <div class="container">
            <div class="row g-custom-x">
                <div class="col-lg-3">
                    <div class="widget">
                        <h5>About Rentaly</h5>
                        <p>Where quality meets affordability. We understand the importance of a smooth and enjoyable journey without the burden of excessive costs. That's why we have meticulously crafted our offerings to provide you with top-notch vehicles at minimum expense.</p>
                    </div>
                </div>
                
                <div class="col-lg-3">
                    <div class="widget">
                        <h5>Contact Info</h5>
                        <address class="s1">
                            <span><i class="id-color fa fa-map-marker fa-lg"></i>08 W 36th St, New York, NY 10001</span>
                            <span><i class="id-color fa fa-phone fa-lg"></i>+1 333 9296</span>
                            <span><i class="id-color fa fa-envelope-o fa-lg"></i><a href="mailto:contact@example.com">contact@example.com</a></span>
                            <span><i class="id-color fa fa-file-pdf-o fa-lg"></i><a href="#">Download Brochure</a></span>
                        </address>
                    </div>
                </div>

                <div class="col-lg-3">
                    <h5>Quick Links</h5>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="widget">
                                <ul>
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#">Careers</a></li>
                                    <li><a href="#">News</a></li>
                                    <li><a href="#">Partners</a></li>
                                    <li><a href="{% url 'contact' %}">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="widget">
                        <h5>Social Network</h5>
                        <div class="social-icons">
                            <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                            <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                            <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
                            <a href="#"><i class="fa fa-pinterest fa-lg"></i></a>
                            <a href="#"><i class="fa fa-rss fa-lg"></i></a>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
        <div class="subfooter">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="de-flex">
                            <div class="de-flex-col">
                                <a href="index.html">
                                    Copyright 2023 - Rentaly by Designesia
                                </a>
                            </div>
                            <ul class="menu-simple">
                                <li><a href="#">Terms &amp; Conditions</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer close -->
</div>

<!-- Javascript Files
================================================== -->
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/designesia.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgiM7ogCAA2Y5pgSk2KXZfxF5S_1jsptA&amp;libraries=places&amp;callback=initPlaces" async="" defer=""></script>
</body>
</html>